/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
Created on : 19-ago-2014, 15.30.09
Author: Annalisa Congiu
*/

/* --- css per la pagina di descrizione --- */
#description-page{
    min-width: 900px;
    margin: 50px 10px 0px 50px;
}


/* --- generali --- */
header, footer, section, article, nav, aside {
    display: block;
}

#page{
    min-width: 1000px;
}


.middle{
    padding: 10px 10px 10px 10px;
    margin-left: 210px;
    font-family: Roboto, Raleway, Batang;
    font-size: 16px;
    line-height: 18px;
    text-align: left;
    min-height: 480px;
}

body {
    background: #ffffff;
    color: #222222;
    font-family: UnDinaru, Roboto, Raleway;
    font-size: 16px;
    line-height: 18px;
    text-align: left;
    margin: 30px 0px 0px 0px;
    width:100%;
    margin-bottom: 50px;
    position: static;
    
}

h1, h2, h3, hQ {
    font-family: UnDinaru, Helvetica, Raleway;
    font-size: 16px ;
}

h1 {
    font-size: 50px;
    line-height: 50px;
}

h2{
    font-size: 31px;
    line-height: 37px;
}

h3 {
    font-size: 21px;
    line-height: 27px; 
}


a:link, a:visited {
    color: #222222;
    text-decoration: none;
}

a:hover, a:active {
    text-decoration: underline;
    font-weight: bold;
}



hr{
    border:0 #ccc solid;
    border-top-width:1px;
    clear:both;
    height:0;
}

ol{
    list-style:decimal;
}

ul{
    list-style:disc;
}

li{
    margin-left:30px;
}

p,dl,hr,h1,h2,h3,h4,h5,h6,ol,ul,pre,table,address,fieldset{
    margin-bottom:15px;
}

.inline{
    margin: 7px 6px 0px 0px;
    display: inline;
}



nav{
    padding-top: 15px;    
    text-align: left;
}

.italic{
    font-style: italic;
}

#main {
    padding: 0px;
}

/* --- table --- */
th{
    padding: 5px 15px 5px 15px;
}
td{
    padding: 2px 15px 0px 15px;
}

/* titolo delle pagine */
.title{
    padding-bottom: 20px;
    font-weight: bold;
    border-bottom: 1px solid gainsboro;
}

/* --- form --- */

input[type=submit], .button, .button-inline  {
    border-radius: 10%;
    border: 0px;
    padding: 3px 12px 3px 12px;
    background: powderblue;
    color: black;
    font-family: UnDinaru, Roboto, Raleway;
    font-size: 14px;
}
.button{
    margin-top: 7px;
}

.input-form{
    margin: 10px 10px 10px 10px;
    padding: 10px 120px 20px 120px;
    font-family: Courier;
    font-size: 12px;
    line-height: 12px;
    text-align: left;
    float: left;
    border: 1px gainsboro solid;
}

.input-anagrafica input[type=text],.input-anagrafica input[type=password]{
    margin-top: 5px;
}

label{
    margin: 0 0 0 0;
    text-align: left;
}

option{
    font-family: UnDinaru, Roboto, Raleway;
    font-size: 12px; 
}

.label_manga{
    font-family: UnDinaru, Roboto, Raleway;
    font-size: 14px; 
}


.input-anagrafica{
    margin: 0px 0px 0px 0px;
    padding: 10px 80px 20px 80px;
    font-family: Courier;
    font-size: 12px;
    line-height: 12px;
    text-align: left;
}


/* --- barra in cima alla pagina --- */

#topbar{
    min-width: 800px;
    font-size: 12px;
    display: block;
    position: fixed;
    left: 0;
    right:0;
    top: 0;
}

#topbar form{
    display: inline-block;
    margin-left: 50px;
    margin-right: 50px;
}

#topbar .button  {
    padding: 3px 12px 3px 12px;
    margin-top: 0px;
    font-family: UnDinaru, Roboto, Raleway;
    font-size: 12px;
}

nav#topbar{
    width:100%;
    padding: 3px 0px 3px 0px;
    background-color: #ffffff;
    margin: 0px 0px 0px 0px;
    background-color: black;
    color: white;
}

nav#topbar div, nav#topbar p, nav#topbar form, nav#topbar a{
    float: right;
    display:block;
    margin: 0px 25px 0px 25px;
    background-color: black;
    color: white;
}
nav#topbar a{
    padding: 5px 0px 5px 0px;
}


/* --- header --- */

header {
    background-color: #ffffff;
    border-bottom:2px crimson solid;
    
}

#title{
    display:block;
    padding: 20px 30px 0px 35px;
    background-image: url("../img/tumblr_static_488027_2.png");
    background-position: 0% 0%;
    background-repeat: repeat-x;
    background-size: 352px;
    height: 60px;
}

#title div{
    display: inline;
    background-color: white;
    font-size: 50px;
    line-height: 62px;
    padding: 30px 25px 0px 25px;
}


/* --- left sidebar --- */
#sidebar1 {
    padding: 0px 0px 0px 0px;
    width:180px;
    float:left;
    height: 100%; 
    margin: 0px 0px 0px 0px;
}


nav h2{
    font-size: 22px;
    line-height: 25px; 
    padding-left: 10px;
    padding-bottom: 10px;
    border-bottom: 1px solid ghostwhite;
}

nav .page{
    display: block;
    margin: 1px 0px 1px 0px;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 5px;
    padding-bottom: 5px;
    list-style: none;
    font-size: 16px;
    font-weight: bold;
}

/* --- titolo per il form del login---*/
.login{
    padding-left: 7px;
    font-family: UnDinaru, Roboto, Raleway, monospace;
    border-bottom: 1px crimson solid;
}


/* --- css per la visualizzazione dei dettagli dei manga --- */
.manga{
    margin-top: 7px;
}
.manga h4{
    display: inline;
}

.manga-title {
    margin-top: 15px;
    padding-left: 20px;
    font-size: 26px;
    padding-bottom: 15px;
    font-weight: bold;
    border-bottom: 1px solid gainsboro; 
}

/* --- footer --- */

footer{
    background: #ffffff;
    margin: 0px 0px 0px 0px;
    border-top:2px crimson solid;
    

}
footer div{
    padding-top:15px;
    padding-right:40px;
    padding-left:40px;
    font-family: UnDinaru, Roboto, Raleway;
    font-size: 14px;
    color: #222222;
    text-align: left;

}

.clear{
    clear: both; 
    width: 0px; 
    height: 0px;
}

/* stile per la pagina di errore (errore.php) */

#error{
    padding: 10px 10px 10px 10px;
    margin-left: 50px;
    font-family: Roboto, Raleway, Batang;
    font-size: 16px;
    line-height: 18px;
    text-align: left;
}

/* stile per i messaggi di errore */

.error{
    width: 90%;
    background-color: #f5a5a5;
    border: 3px solid #9e1616;
    margin: auto;
    padding: 10px;
    text-align: center;
    margin-top: 5px;
}
.error div{
    margin: 0px;
    background: url('../img/no.png') no-repeat left top;
    min-height: 32px;
    
}
.error li {
    list-style: none;
}

/* stile per i messaggi di conferma */

.confirm{
    width: 90%;
    background-color: #c7edce;
    border: 3px solid #36956e;
    margin: auto;
    padding: 10px;
    text-align: center;
    margin-top: 5px;
}
.confirm div{
    margin: 0px;
    background: url('../img/ok.png') no-repeat left top;
    min-height: 32px;
}
